/* navigation */
#navvbar{
    flex-direction: column;
}

#navbar ul li a{
    padding: 0px 7px;
    font-size: 1rem;
    padding-bottom: 8px;
}

/* home-section */
.home{
    height: 280px;
    padding: 3px 68px;
}

 .home::before{
    height: 371px;
 }

 .home p{
    font-size: 14px;
 }


/* services-section */
#services{
    flex-direction: row;
}

#services .box{
    padding: 14px;
    margin: 2px 15px;
    margin-bottom: 20px;

}

/* clients-section */
#clients{
    overflow: hidden;
}

#clients img{
    width: 122px;
    padding: 2px 6px;
}

/* contact us-section */

/* footer-section */

/* utility-classes */

.primary{
    font-size: 57px;
}

.btn{
    font-size: 21px;
    padding: 4px 8px;
}